@import "tailwindcss";
@plugin "daisyui";
.align-elements {
  @apply max-w-7xl mx-auto px-3 my-1;
}
.photo {
  @apply w-96 h-64 object-cover rounded-2xl transition-transform duration-300 hover:scale-103;
}

.icon {
  position: absolute;
  top: 35%;
  left: 10px;
  transform: translateY(-50%);
  color: #888;
}
.wrapper {
  position: relative;
}
.no-product {
  font-size: 10rem;
  font-weight: bold;
  opacity: 20%;
  color: #ccc;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-left {
  animation: slide-in-left 0.5s ease-in-out;
}

.animate-right {
  animation: slide-in-right 0.5s ease-in-out;
}
.bg-wrappar {
  background-color: rgba(255, 255, 255, 0.318);
  border-radius: 10px;
  padding: 3px 5px;
}
